.card-container {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  flex-flow: row wrap;
  justify-content: space-around;
}

.logo-container,
.button-container {
  align-items: center;
  display: flex;
  width: 30%;
}
