.card-container {
  background: rgba(26, 30, 37, 0.93);
  display: flex;
  flex-wrap: wrap;
  height: auto;
  overflow-y: scroll;
  width: 100%;
}




.logo-container,
.button-container {
  align-items: center;
  display: flex;
  width: 30%;
}
