.areas-header {
  align-items: center;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 0;
  width: 100vw;
}

.vrad {
  color: rgba(228, 74, 26, 0.8);
}

.header-description {
  font-size:1.15em;
  margin: 3px;
}

.travel-type {
  font-size: .75em;
  margin: 3px;
  text-align: center;
  width: 100%;
}

.header-text-container {
  display: flex;
  flex-flow: column nowrap;
  padding: 0;
  text-align: center;
  width: 30%;
}

.header-buttons {
  margin: 0 3px 0 10px;
  width: 35%;
}

.button-container {
  justify-content: flex-end;
  padding-right: 15px;
  width: 30%;
}

.vrad {
  font-size: 3em;
  margin: 3% 2%;
}

.header-area-name {
  color: rgba(26, 30, 37, 0.93)
}

.logo-container {
  padding-left: 15px;
  width: 30%;
}
