
.login-form {
  display: flex;
  flex-direction: column;
  margin: 5% 40% 5% 40%;
}

input,
select {
/* position: absolute; */
/* left: 37.76%;
right: 37.76%;
top: 34.43%;
bottom: 59.14%; */
background: rgba(28, 26, 26, 0.9);
border: 1px solid rgba(255, 255, 255, 0.5);
box-sizing: border-box;
border-radius: 15px;
height: 40px;
margin-bottom: 5%;
padding: 3%;
}

button {
/* position: absolute; */
color: white;
width: 385px;
left: calc(50% - 282px/2);
top: 59.29%;
bottom: 34.43%;
background: rgba(228, 74, 26, 0.8);
border: 2px solid rgba(255, 255, 255, 0.5);
border-radius: 16px;
height: 40px;
}
