.listing-image {
  height: auto;
  margin: 0;
  width: 33.1%;
}

.favorite-button {
  height: 50px;
  padding: 10px;
  width: 150px;
}

.individual-listing-main {
  height: 100vh;
  width: 100vw;
}

.individual-listing-container {
  background-color: white;
  border-radius: 15px;
  margin: 2%;
  padding: 2%;
}

.listing-details {
  display: inline-block;
  margin: 0 0 0 5px;
}

.listing-details-bold {
  display: inline-block;
  margin: 0;
}

.details-container {
  margin: 2% 0;
  padding: 0;
}

.images-container {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 100%;
}

.listing-header-container {
  margin-bottom: 1em;
  text-align: center;
}

.favorites-message {
  background: #FFFFFF;
  color: rgba(228, 74, 26);
}
