main {
  background: rgba(26, 30, 37, 0.93);
  box-sizing: border-box;
  display: flex;
  display: flex;
  flex-flow: row nowrap;
  flex-wrap: wrap;
  height: 100vh;
  margin: 0;
  overflow-y: scroll;
  padding: 0;
  width: 100%;
}
